@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'notokr-thin';
  font-style: normal;
  font-weight: 400;
  src: url(/public/common/css/font/notokr-thin.eot);
  src: url(/public/common/css/font/notokr-thin.eot?#iefix) format('embedded-opentype'),
       url(/public/common/css/font/notokr-thin.woff2) format('woff2'),
       url(/public/common/css/font/notokr-thin.woff) format('woff'),
       url(/public/common/css/font/notokr-thin.ttf) format('truetype');
}

@font-face {
  font-family: 'notokr-regular';
  font-style: normal;
  font-weight: 400;
  src: url(/public/common/css/font/notokr-regular.eot);
  src: url(/public/common/css/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
       url(/public/common/css/font/notokr-regular.woff2) format('woff2'),
       url(/public/common/css/font/notokr-regular.woff) format('woff'),
       url(/public/common/css/font/notokr-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'notokr-bold';
  font-style: normal;
  font-weight: 400;
  src: url(/public/common/css/font/notokr-bold.eot);
  src: url(/public/common/css/font/notokr-bold.eot?#iefix) format('embedded-opentype'),
       url(/public/common/css/font/notokr-bold.woff2) format('woff2'),
       url(/public/common/css/font/notokr-bold.woff) format('woff'),
       url(/public/common/css/font/notokr-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'notokr-black';
  font-style: normal;
  font-weight: 400;
  src: url(/public/common/css/font/notokr-black.eot);
  src: url(/public/common/css/font/notokr-black.eot?#iefix) format('embedded-opentype'),
       url(/public/common/css/font/notokr-black.woff2) format('woff2'),
       url(/public/common/css/font/notokr-black.woff) format('woff'),
       url(/public/common/css/font/notokr-black.ttf) format('truetype');
}


.vc{vertical-align: middle;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}

.OK {background-color: #00FF00;}
.NG {background-color: #FF0000;}
.NOT {background-color: #FFFF00;}
.PASS {background-color: #0000FF;}

.bgg{color: #00FF00;}
.bgr{color: #FF0000;}
.bgy{color: #FFFF00;}


.bg1{background: #A9BCF5 !important;}
.bg1_1{background: #CED8F6 !important;}

.bg2{background: #F5A9BC !important;}
.bg2_1{background: #F8E0E0 !important;}

.bg3{background: #9FF781 !important;}
.bg3_1{background: #E0F8E6 !important;}

.bg4{background: #F2F5A9 !important;}
.bg4_1{background: #F7F8E0 !important;}

/*테이블 고정*/
.tableFix {
	word-break:break-all;
	table-layout: fixed;
}
.nw{
  white-space:nowrap;
}

.scroll_Y {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll_Y::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.scroll_Y{overflow-y: scroll; white-space:nowrap;}
.scroll_X{overflow-x: scroll; white-space:nowrap;}


/*폰트 사이즈 가변*/
.fsw05{font-size:0.5vw !important;}
.fsw1{font-size: 1vw !important;}
.fsw15{font-size: 1.5vw !important;}
.fsw2{font-size: 2vw !important;}
.fsw3{font-size: 3vw !important;}
.fsw4{font-size: 4vw !important;}

.fsh05{font-size:0.5vh !important;}
.fsh1{font-size: 1vh !important;}
.fsh15{font-size: 1.5vh !important;}
.fsh2{font-size: 2vh !important;}
.fsh3{font-size: 3vh !important;}
.fsh4{font-size: 4vh !important;}

/*글씨방향*/
.AL { text-align: left !important; }
.AR { text-align: right !important; }
.AC { text-align: center !important; }

/*폰트굵기*/
.FW700 { font-weight: 700; }
.FW900 { font-weight: 900; }

/*border*/
.bor0 { border: 0px !important; }
.borL0 { border-left: 0px !important; }
.borR0 { border-right: 0px !important; }
.borT0 { border-top: 0px !important; }
.borB0 { border-bottom: 0px !important; }

/*float*/
.fl { float: left !important; } 
.fr { float: right !important; } 
.fn { float: none !important; } 

/*width*/
.W1 { width: 1px !important; }
.W10 { width: 10px !important; }
.W20 { width: 20px !important; }
.W30 { width: 30px !important; }
.W40 { width: 40px !important; }
.W50 { width: 50px !important; }
.W60 { width: 60px !important; }
.W70 { width: 70px !important; }
.W80 { width: 80px !important; }
.W90 { width: 90px !important; }
.W100 { width: 110px !important; }
.W114 { width: 114px !important; }
.W120 { width: 120px !important; }
.W130 { width: 130px !important; }
.W140 { width: 140px !important; }
.W150 { width: 150px !important; }
.W160 { width: 160px !important; }
.W170 { width: 170px !important; }
.W180 { width: 180px !important; }
.W190 { width: 190px !important; }
.W200 { width: 200px !important; }
.W210 { width: 210px !important; }
.W220 { width: 220px !important; }
.W230 { width: 230px !important; }
.W240 { width: 240px !important; }
.W250 { width: 250px !important; }
.W260 { width: 260px !important; }
.W270 { width: 270px !important; }
.W280 { width: 280px !important; }
.W290 { width: 290px !important; }
.W300 { width: 300px !important; }
.W310 { width: 310px !important; }
.W320 { width: 320px !important; }
.W330 { width: 330px !important; }
.W340 { width: 340px !important; }
.W350 { width: 350px !important; }
.W400 { width: 400px !important; }
.W410 { width: 410px !important; }
.W420 { width: 420px !important; }
.W430 { width: 430px !important; }
.W435 { width: 435px !important; }
.W440 { width: 440px !important; }
.W450 { width: 450px !important; }
.W500 { width: 500px !important; }
.W510 { width: 510px !important; }
.W550 { width: 550px !important; }
.W600 { width: 600px !important; }
.W650 { width: 650px !important; }
.W700 { width: 700px !important; }
.W750 { width: 750px !important; }
.W800 { width: 800px !important; }
.W850 { width: 850px !important; }
.W900 { width: 900px !important; }
.W1000 { width: 1000px !important; }

/*width percent*/
.W10p { width: 10% !important; }
.W11p { width: 11% !important; }
.W12p { width: 12% !important; }
.W13p { width: 13% !important; }
.W14p { width: 14% !important; }
.W15p { width: 15% !important; }
.W16p { width: 16% !important; }
.W16_5p { width: 16.5% !important; }
.W17p { width: 17% !important; }
.W18p { width: 18% !important; }
.W19p { width: 19% !important; }
.W20p { width: 20% !important; }
.W25p { width: 25% !important; }
.W30p { width: 30% !important; }
.W35p { width: 35% !important; }
.W40p { width: 40% !important; }
.W45p { width: 45% !important; }
.W50p { width: 50% !important; }
.W55p { width: 55% !important; }
.W60p { width: 60% !important; }
.W65p { width: 65% !important; }
.W70p { width: 70% !important; }
.W75p { width: 75% !important; }
.W80p { width: 80% !important; }
.W85p { width: 85% !important; }
.W90p { width: 90% !important; }
.W95p { width: 95% !important; }
.W96p { width: 96% !important; }
.W97p { width: 97% !important; }
.W98p { width: 98% !important; }
.W99p { width: 99% !important; }
.W100p { width: 100% !important; }

/*height*/
.H10 { height: 10px !important; }
.H20 { height: 20px !important; }
.H30 { height: 30px !important; }
.H40 { height: 40px !important; }
.H50 { height: 50px !important; }
.H60 { height: 60px !important; }
.H70 { height: 70px !important; }
.H80 { height: 80px !important; }
.H90 { height: 90px !important; }
.H100 { height: 100px !important; }
.H110 { height: 110px !important; }
.H120 { height: 120px !important; }
.H130 { height: 130px !important; }
.H140 { height: 140px !important; }
.H150 { height: 150px !important; }
.H160 { height: 160px !important; }
.H170 { height: 170px !important; }
.H180 { height: 180px !important; }
.H190 { height: 190px !important; }
.H200 { height: 200px !important; }
.H250 { height: 250px !important; }
.H300 { height: 300px !important; }
.H310 { height: 310px !important; }
.H350 { height: 350px !important; }
.H400 { height: 400px !important; }
.H450 { height: 450px !important; }
.H500 { height: 500px !important; }
.H550 { height: 550px !important; }
.H600 { height: 600px !important; }
.H650 { height: 650px !important; }

/*height%*/
.H10p { height: 10% !important; }
.H15p { height: 15% !important; }
.H20p { height: 20% !important; }
.H25p { height: 25% !important; }
.H30p { height: 30% !important; }
.H35p { height: 35% !important; }
.H40p { height: 40% !important; }
.H45p { height: 45% !important; }
.H50p { height: 50% !important; }
.H55p { height: 55% !important; }
.H60p { height: 60% !important; }
.H65p { height: 65% !important; }
.H70p { height: 70% !important; }
.H75p { height: 75% !important; }
.H80p { height: 80% !important; }
.H85p { height: 85% !important; }
.H90p { height: 90% !important; }
.H95p { height: 95% !important; }
.H100p { height: 100% !important; }

/*margin*/
.Mg0 { margin: 0px !important; }
.MgT0 {margin-top:0px !important}
.MgT1 {margin-top:1px !important}
.MgT2 {margin-top:2px !important}
.MgT3 {margin-top:3px !important}
.MgT4 {margin-top:4px !important}
.MgT5 {margin-top:5px !important}
.MgT10 {margin-top:10px !important}
.MgT15 {margin-top:15px !important}
.MgT20 {margin-top:20px !important}
.MgT25 {margin-top:25px !important}
.MgT30 {margin-top:30px !important}
.MgT35 {margin-top:35px !important}
.MgT40 {margin-top:40px !important}
.MgT45 {margin-top:45px !important}
.MgT50 {margin-top:50px !important}
.MgT55 {margin-top:55px !important}
.MgT60 {margin-top:60px !important}
.MgT70 {margin-top:70px !important}
.MgT80 {margin-top:80px !important}
.MgT90 {margin-top:90px !important}
.MgT100 {margin-top:100px !important}
.MgT200 {margin-top:200px !important}
.MgT300 {margin-top:300px !important}
.MgT400 {margin-top:400px !important}
.MgT500 {margin-top:500px !important}
.MgT600 {margin-top:600px !important}

.MgL0 {margin-left:0px !important}
.MgL5 {margin-left:5px !important}
.MgL10 {margin-left:10px !important}
.MgL15 {margin-left:15px !important}
.MgL20 {margin-left:20px !important}
.MgL25 {margin-left:25px !important}
.MgL30 {margin-left:30px !important}
.MgL35 {margin-left:35px !important}
.MgL40 {margin-left:40px !important}
.MgL45 {margin-left:45px !important}
.MgL50 {margin-left:50px !important}
.MgL55 {margin-left:55px !important}
.MgL60 {margin-left:60px !important}
.MgL65 {margin-left:65px !important}
.MgL70 {margin-left:70px !important}
.MgL75 {margin-left:75px !important}
.MgL80 {margin-left:80px !important}
.MgL85 {margin-left:85px !important}
.MgL90 {margin-left:90px !important}
.MgL95 {margin-left:95px !important}
.MgL100 {margin-left:10px !important}

.MgR0 {margin-right:0px !important}
.MgR2 {margin-right:2px !important}
.MgR3 {margin-right:3px !important}
.MgR5 {margin-right:5px !important}
.MgR10 {margin-right:10px !important}
.MgR15 {margin-right:15px !important}
.MgR20 {margin-right:20px !important}
.MgR25 {margin-right:25px !important}
.MgR30 {margin-right:30px !important}
.MgR35 {margin-right:35px !important}
.MgR40 {margin-right:40px !important}
.MgR45 {margin-right:45px !important}
.MgR50 {margin-right:50px !important}
.MgR55 {margin-right:55px !important}
.MgR56 {margin-right:56px !important}
.MgR57 {margin-right:57px !important}
.MgR58 {margin-right:58px !important}
.MgR59 {margin-right:59px !important}
.MgR60 {margin-right:60px !important}
.MgR70 {margin-right:70px !important}
.MgR80 {margin-right:80px !important}
.MgR90 {margin-right:90px !important}
.MgR100 {margin-right:100px !important}

.MgB0 {margin-bottom:0px !important}
.MgB3 {margin-bottom:3px !important}
.MgB5 {margin-bottom:5px !important}
.MgB6 {margin-bottom:6px !important}
.MgB7 {margin-bottom:7px !important}
.MgB8 {margin-bottom:8px !important}
.MgB9 {margin-bottom:9px !important}
.MgB10 {margin-bottom:10px !important}
.MgB15 {margin-bottom:15px !important}
.MgB20 {margin-bottom:20px !important}
.MgB25 {margin-bottom:25px !important}
.MgB30 {margin-bottom:30px !important}
.MgB35 {margin-bottom:35px !important}
.MgB40 {margin-bottom:40px !important}
.MgB45 {margin-bottom:45px !important}
.MgB50 {margin-bottom:50px !important}
.MgB55 {margin-bottom:55px !important}
.MgB56 {margin-bottom:56px !important}
.MgB57 {margin-bottom:57px !important}
.MgB58 {margin-bottom:58px !important}
.MgB59 {margin-bottom:59px !important}
.MgB60 {margin-bottom:60px !important}
.MgB70 {margin-bottom:70px !important}
.MgB80 {margin-bottom:80px !important}
.MgB90 {margin-bottom:90px !important}
.MgB100 {margin-bottom:100px !important}

/*padding*/
.Pd0 { padding: 0px !important; }
.PdT0 {padding-top:0px !important}
.PdT5 {padding-top:5px !important}
.PdT7 {padding-top:7px !important}
.PdT10 {padding-top:10px !important}
.PdT15 {padding-top:15px !important}
.PdT20 {padding-top:20px !important}
.PdT25 {padding-top:25px !important}
.PdT30 {padding-top:30px !important}
.PdT35 {padding-top:35px !important}
.PdT40 {padding-top:40px !important}
.PdT45 {padding-top:45px !important}
.PdT50 {padding-top:50px !important}
.PdT55 {padding-top:55px !important}
.PdT60 {padding-top:60px !important}
.PdT65 {padding-top:65px !important}
.PdT70 {padding-top:70px !important}
.PdT75 {padding-top:75px !important}
.PdT80 {padding-top:80px !important}
.PdT85 {padding-top:85px !important}
.PdT95 {padding-top:95px !important}
.PdT100 {padding-top:100px !important}
.PdT110 {padding-top:110px !important}
.PdT120 {padding-top:120px !important}

.PdL0 {padding-left:0px !important}
.PdL5 {padding-left:5px !important}
.PdL10 {padding-left:10px !important}
.PdL15 {padding-left:15px !important}
.PdL20 {padding-left:20px !important}
.PdL25 {padding-left:25px !important}
.PdL30 {padding-left:30px !important}
.PdL35 {padding-left:35px !important}
.PdL40 {padding-left:40px !important}
.PdL45 {padding-left:45px !important}
.PdL50 {padding-left:50px !important}
.PdL55 {padding-left:55px !important}
.PdL60 {padding-left:60px !important}
.PdL65 {padding-left:65px !important}
.PdL70 {padding-left:70px !important}
.PdL75 {padding-left:75px !important}
.PdL80 {padding-left:80px !important}
.PdL85 {padding-left:85px !important}
.PdL90 {padding-left:90px !important}
.PdL95 {padding-left:95px !important}
.PdL100 {padding-left:100px !important}

.PdR0 {padding-right:0px !important}
.PdR5 {padding-right:5px !important}
.PdR10 {padding-right:10px !important}
.PdR15 {padding-right:15px !important}
.PdR20 {padding-right:20px !important}
.PdR25 {padding-right:25px !important}
.PdR30 {padding-right:30px !important}
.PdR35 {padding-right:35px !important}
.PdR40 {padding-right:40px !important}
.PdR45 {padding-right:45px !important}
.PdR50 {padding-right:50px !important}
.PdR55 {padding-right:55px !important}

.PdB0 {padding-bottom:0px !important}
.PdB5 {padding-bottom:5px !important}
.PdB10 {padding-bottom:10px !important}
.PdB15 {padding-bottom:15px !important}
.PdB20 {padding-bottom:20px !important}
.PdB25 {padding-bottom:25px !important}
.PdB30 {padding-bottom:30px !important}
.PdB35 {padding-bottom:35px !important}
.PdB40 {padding-bottom:40px !important}
.PdB45 {padding-bottom:45px !important}
.PdB50 {padding-bottom:50px !important}
.PdB55 {padding-bottom:55px !important}
.PdB60 {padding-bottom:56px !important}
.PdB80 {padding-bottom:80px !important}
