<% layout('layout') -%>

<style>
    img{
        border-radius: 40px;
        margin-top: 100px;
    };
    
</style>
<div id="content">
    <div id="gridTable" class="item W95p H40p">
        <img src="/public/images/logo.png" class="W160 H160">
    </div>
</div>